<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prithvi Velpuri</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    

</head>
<body>
    {{>header}}
    <div class="container">
        <h1>About Me</h1>
        <div class="card bg-info">
            <div class="media my-5">
                <img src="img/Prith.jpg" width="250" height="250" class="img-fluid rounded mx-5 d-none d-lg-block">
                <div class="media-body">
                    <h1 class="ml-3"style="color:greenyellow;">Hi, I'm Prithvi Velpuri!</h1>
                    <h4 class="text-muted ml-3">Computer Engineering | Purdue 2020</h4>
                    <p class="pr-2 ml-3">Growing up, ever since I could get my hands on a computer I was intrigued by the myriad of things that the machine could do. I explored things like Photoshop,
                        game development, and ultimately got absorbed into the world of programming. I just wanted to make cool things that I could show my family and friends! 
                        Then I studied computer engineering at Purdue University, where I was able to learn a lot of things and made some lifelong meaningful connections.
                        As a recent graduate, I'm exploring opportunities in the field of software engineering. In particular, I am quite fond of web frameworks and learning
                        the full stack development.
                        Outside of that, 
                    </p>
                </div>
            </div>
    </div>

    {{!-- {{>footer}} --}}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>