<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prithvi Velpuri</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    

</head>
<body>
    {{>header}}
    <div class="container">
        
        <h1 class="display-4 mb-4"><u>My Experience</u></h1>
        <h3>Work Experience</h3>
        <div class="shadow card">
            <div class="card-header">
                <div class="media">
                    <img src="img/Walgreens.jpg" width="75" height="75" class="img-fluid rounded mx-5 d-none d-lg-block">
                    <div class="media-body">
                        <h5><b>Walgreens Co. </b></h5><span><h6>Software Engineering (QE) Intern</h6></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p><b>June 2019 - July 2019</b><span style="float:right;"><b>Manager: </b><a href="https://www.linkedin.com/in/don-ramiro-9543894/" target="_blank">Don Ramiro</a></span><br>
                    <br>
                    During the summer in this 10 week internship experience, I had the opporunity to work alongside the QE team and was mentored by
                    a QE Lead in researching various tools for the implementation of <a href="https://en.wikipedia.org/wiki/Chaos_engineering">Chaos Engineering</a> practices.
                    Alongside these daily tasks, I also had the chance to participate in a cross-functional business intern case study competition, helping to come up with 
                    potential solutions to existing business obstacles.
                </p>
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                Details
                </button>
            </div>
        </div>
        <br>
        <h3>Education</h3>
        <div class="shadow card mb-4">
            <div class="card-header">
                <div class="media">
                    <img src="img/PurdueLogo.jpg" width="75" height="75" class="img-fluid rounded mx-5 d-none d-lg-block">
                    <div class="media-body">
                        <h5><b>Purdue University, </b></h5><span><h6>Bachelors of Science in Computer Engineering</h6></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p><b>August 2016 - May 2020</b><br>
                    <br>
                    Learned about the full computing stack, both system hardware and software. My interests lay in
                    computer software, and focused my curriculum towards learning about system software.<br>
                    <br>
                    Relavent Courses:
                </p>
                <ul>
                    <li>Object Oriented Programming C++ and Java</li>
                    <li>Advanced C Programming</li>
                    <li>Data Structures and Algorithms</li>
                    <li>Software Engineering Tools Laboratory (Python and Bash)</li>
                    <li>Operating Systems</li>
                    <li>Compilers</li>
                    <li>Microprocessor Systems and Interfacing</li>
                </ul>
                
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="media">
                    <img src="img/Walgreens.jpg" width="75" height="75" class="img-fluid rounded mx-5 d-none d-lg-block">
                    <div class="media-body">
                        <h5><b>Walgreens Co. </b></h5><span><h6>Software Engineering (QE) Intern</h6></span>
                    </div>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Coming soon...
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

            </div>
        </div>
    </div>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>