<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prithvi Velpuri</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    

</head>
<body>
    {{>header}}
    <div class="jumbotron text-center" style="margin-bottom: 0px;background-color: #ffffff">
        <h1 class="display-4 animate__animated animate__backInDown"><b>Prithvi Velpuri</b></h1>
        <h4>Hello World!</h4>
    </div>
    {{!-- Terminal-Like Style --}}
    <div class="container" id="aboutMe">
        <div id="terminal">
            <div id="code">
                > Prithvi.origin
                <p class="answer">=> "Lake Zurich, IL" <br><br></p>
                > Prithvi.education
                
                <p class="answer">=> "Purdue University" <br><br></p>
                > Prithvi.major
                
                <p class="answer">=> "Bachelor of Science in Computer Engineering" <br><br></p>
                > Prithvi.dateOfGraduation
                
                <p class="answer">=> "May 2020" <br><br></p>
                > Prithvi.experience.latest
                <p class="answer">=> "Latest Work Experience <br>
                    &nbsp;&nbsp;Company: 'Walgreens' <br>
                    &nbsp;&nbsp;Role: 'Software Engineering Intern' <br>
                    &nbsp;&nbsp;Start_Date: 'June 3rd, 2019' <br>
                    &nbsp;&nbsp;End_Date: 'August 9th, 2019'"<br><br>
                </p>
                > Prithvi.Interests
                
                <p class="answer">=> ['Coding', 'NBA', 'Bodybuilding', 'Tennis', 'Videogames', 'Drawing'] <br><br></p>
                > Prithvi.email
                
                <p class="answer">=> <a href='\contact'>pvelpur@purdue.edu</a></p>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>