<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prithvi Velpuri</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    

</head>
<body>
    {{>header}}
    <div class="container">
        <br>
        <h1 style="text-decoration: underline;">Programming Languages</h1><br>
        <h4>Java</h4>
        <div class="progress" >
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <br>
        <h4>JavaScript</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <br>
        <h4>Python</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <br>
        <h4>C</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <br>
        <h1 style="text-decoration: underline;">Web Technologies</h1><br>
        <h4>HTML/CSS</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <br>
        <h4>MERN Stack (MongoDB, Express, React, Node.js)</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <br>
        <h4>Django</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
        <br>
        <h1 style="text-decoration: underline;">Others</h1><br>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success" style="text-align: center;"><h3>Github</h3></li>
            <li class="list-group-item list-group-item-light" style="text-align: center;"><h3>MATLAB</h3></li>
            <li class="list-group-item list-group-item-success" style="text-align: center;"><h3>Heroku</h3></li>
            <li class="list-group-item list-group-item-light" style="text-align: center;"><h3>AWS/AZURE</h3></li>
            <li class="list-group-item list-group-item-success" style="text-align: center;"><h3>Docker</h3></li>
            <li class="list-group-item list-group-item-light" style="text-align: center;"><h3>Microcontroller Interfacing (STM32)</h3></li>
        </ul>
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>