
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
<!-- Brand -->
<a class="navbar-brand" href="#">My Portfolio</a>

<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/experience">Experience</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Projects
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/UniversityProjects">University Projects</a>
        <a class="dropdown-item" href="/PersonalProjects">Personal Projects</a>
    </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/skills">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
    </ul>
</div>
</nav>

